
@{
    ViewData["Title"] = "Log In";
}

<h2>Log In</h2>
<h2>@ViewData["Message"]</h2>

<div id="logIn" class="container">

    <input type="text" placeholder="username" name="username" required>
    <input type="password" placeholder="Enter password" name="password" required>
    
    <button type="submit">Login</button>
    <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>

</div>